.collapse-container {
  background-color: #f6f6f6;
  border-radius: 5px;
  max-width: 1240px;
  margin: 0 auto;
  .collapse {
    background-color: #FF6060;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    height: 30px;
    border-radius: 5px;
    padding: 0px 11px 0px 11px;
    color: white;
    margin-top: 20px;
    cursor: pointer;
    @media screen and (min-width: 622px) {
      height: 52px;
      font-size: 18px;
    }
    @media screen and (min-width: 1240px) {
      height: 54px;
      font-size: 24px;
      max-width: 1240px;
      padding: 0px 17px 0px 17px;
      margin-top: 0px;
    }
  }
  
  .collapse-txt-container {
    padding: 0 20px 19px 20px;
    .collapse-txt {
      font-size: 12px;
      margin: 13px 0 0 0;
      color: #FF6060;
      li {
        list-style-type: none;
      }
      @media screen and (min-width: 768px) {
        font-size: 18px;
  
      }
      @media screen and (min-width: 1240px) {
        font-size: 18px;
      }
    }
  }
  @media screen and (min-width: 1240px) {
    margin: 0;
    width: 582px;
  }
}

