.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 27px 0;
}

.logo-header {
  width: 145px;
  height: 45px;
}

.li-header {
  padding-left: 26px;
  color: #ff6060;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}

.li-header:hover {
  text-decoration: underline;
}
